@font-face {
	font-family: IBM Plex Sans;
	src: url('/fonts/IBMPlexSans-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: IBM Plex Sans;
	src: url('/fonts/IBMPlexSans-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: IBM Plex Sans;
	src: url('/fonts/IBMPlexSans-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: IBM Plex Sans;
	src: url('/fonts/IBMPlexSans-SemiBold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: IBM Plex Mono;
	src: url('/fonts/IBMPlexMono-Regular.ttf');
	font-weight: 400;
}

/* Variables */

:root {
	--purple: rgba(87, 0, 255, 1);
	--purple-dark: rgba(66, 0, 210, 1);
	--grey: rgba(216, 216, 216, 1);
	--grey-dark: rgba(196, 196, 196);
	--beige: rgba(234, 219, 206, 1);
	--beige-dark: rgba(225, 207, 191, 1);

	--border: 2px;
	--cols: 12;
	--col: calc(100vw/var(--cols));
}

/* Typography */

:root {
	font-family: "IBM Plex Sans";
	font-size: 30px;
}

.h1 {
	font-family: IBM Plex Mono;
	font-size: 2.15rem;
	text-transform: uppercase;
}

.h2 {
	font-size: 1.33rem;
}

.h3 {
	font-family: IBM Plex Mono;
	font-size: 1.33rem;
	text-transform: uppercase;
}

.small {
	font-size: 0.7rem;
}

.x-small {
	font-size: 0.5rem;
	font-weight: 500;
}

.mono {
	font-family: IBM Plex Mono;
}

.link {
	color: var(--purple);
}

.link:hover {
	color: var(--purple-dark);
	text-decoration: underline;
}

.purple {
	color: var(--purple);
}

.grey {
	color: var(--grey-dark);
}

.uppercase {
	text-transform: uppercase;
}

.text h4 {
	font-weight: 500;
	color: var(--purple);
}

.text ul li {
	list-style-type: "↪";
	padding-left: 0.3em;
	margin-left: 0.9em;
}

.text ol li {
	list-style: decimal;
	margin-left: 1.2em;
}

.text * + p,
.text * + h4 {
	margin-top: 0.9em;
}

.text a {
	color: var(--purple);
}

.text a:hover {
	color: var(--purple-dark);
	text-decoration: underline;
}

/* Header */

.site-header {
	position: relative;
	font-size: .8rem;
	padding: .6rem;
	aspect-ratio: var(--cols)/2;
	overflow: hidden;
	padding-top: calc(1lh + .3rem + .6rem + .25rem);
	border-bottom: var(--border) solid var(--grey);
}

.site-menu {
	position: fixed;
	top: .6rem;
	left: .6rem;
	right: .6rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	z-index: 3;
}

.site-logo {
	position: absolute;
  left: .6rem;
  right: .6rem;
  top: 30%;
  margin-top: auto;
}

.site-logo svg {
	display: block;
	width: 100%;
	height: auto;
}

.site-mobile-menu-toggle {
	display: none;
	position: fixed;
	background: white;
	top: var(--border);
	right: var(--border);
	width: calc(var(--col) - var(--border)*3);
	border: calc(var(--border)/2) solid var(--purple);
	border-radius: 50%;
	padding: calc(var(--col)/5);
	cursor: pointer;
}

.icon-menu {
	stroke: var(--purple);
	stroke-width: calc(var(--border)/2);
}

.site-mobile-menu-toggle:hover {
	background: var(--purple);
}

.site-mobile-menu-toggle:hover .icon-menu {
	stroke: white;
}


/* Footer */

.site-footer::before {
	content: "";
	display: block;
	font-size: 0.533rem;
	height: calc(var(--col) + 2lh + 0.44rem);
}

.site-footer-fixed {
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 0.5rem;
	background: var(--beige);
	padding: 0.22rem 0.733rem;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-footer-links {
	display: flex;
	gap: 1em;
}

/* Layout */

.site-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cols {
	position: relative;
	display: grid;
	grid-template-columns: calc((var(--col) - var(--border)/var(--cols))*5) auto;
	background-color: white;
	border-bottom: var(--border) solid var(--grey);
	grid-auto-rows: 1fr;
	z-index: 0;
}

.cols:has(> .cols) {
	border-bottom: none;
}

.cols > .cols {
	display: grid;
	grid-column: 1/-1;
	align-self: stretch;
	grid-template-columns: subgrid;
}

.cols.cols-align-start {
	align-items: start;
}

.cols.cols-align-start::before {
	content: '';
	display: block;
	background-image: linear-gradient(var(--grey) var(--border), transparent var(--border)), linear-gradient(90deg, var(--grey) var(--border), transparent var(--border));
	background-size: var(--col) var(--col);
	background-position: left bottom;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.cols.cols-align-start .col {
	border-bottom: var(--border) solid var(--grey);
}

.cols.cols-align-start > .col:last-child {
	border-bottom: none;
	border-right: var(--border) solid var(--grey);
}

.col-group .col:not(:last-child) {
	border-bottom: var(--border) solid var(--grey);
}

.col {
	background: white;
}

.col-text {
	padding: 0.6875rem;
}

.col-with-padding {
	padding-bottom: 2rem;
}

.cols .col {
	border-left: var(--border) solid var(--grey);
}

.cols > .col:last-child {
	border-right: var(--border) solid var(--grey);
}

.section-header,
.section-footer {
	text-align: center;
	padding: .733rem;
	background: white;
	border-bottom: var(--border) solid var(--grey);
	border-left: var(--border) solid var(--grey);
	border-right: var(--border) solid var(--grey);
}

.section-footer a:hover {
	color: var(--purple);
}

.section-caption {
	text-align: left;
	padding: .733rem;
	background: white;
	border-bottom: var(--border) solid var(--grey);
}

.divider {
	margin: 0;
	border: none;
	height: calc(100vw/var(--cols));
	background-image: linear-gradient(var(--grey) var(--border), transparent var(--border)), linear-gradient(90deg, var(--grey) var(--border), white var(--border));
	background-size: calc(var(--col) - (var(--border)/var(--cols))) var(--col);
	background-position: 0 calc(var(--border) * -1);
}

.grid-background {
	background-image: linear-gradient(var(--grey) var(--border), transparent var(--border)), linear-gradient(90deg, var(--grey) var(--border), white var(--border));
	background-size: calc(var(--col) - (var(--border)/var(--cols))) var(--col);
	background-position: 0 calc(var(--border) * -1);
}


/* Components */

/* Components: Buttons */

.btn {
	font-size: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: calc(var(--border)/2) solid var(--purple);
	background: white;
	min-width: 6.25em;
	padding: .25em .916em;;
	color: var(--purple);
	white-space: nowrap;
	border-radius: 2.5em;
	cursor: pointer;
}

.btn a {
	color: inherit;
}

.btn.active,
.btn:hover {
	background-color: var(--purple);
	color: white;
}

.btn.btn-primary {
	background: var(--purple);
	color: white;
} 

.btn.btn-primary:hover {
	border-color: black;
	background: black;
}

.btn.btn-small {
	font-size: 0.5rem;
}

.btn-small {
	background: transparent;
}


/* Component - Gallery */

.gallery {
	position: relative;
	width: 100%;
	background: white;
	border-bottom: var(--border) solid var(--grey);
}



.gallery::before, 
.gallery::after {
	content: "";
	position: absolute;
	display: block;
	width: min(6.66rem, 14vw);
	height: 100%;
	top: 0;
	z-index: 1;
	pointer-events: none;
	opacity: 1;
	transition: visibility 0s, opacity 0.3s;
}

.gallery::before {
	left: 0;
	background-image: linear-gradient(90deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
}

.gallery::after {
	right: 0;
	background-image: linear-gradient(270deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
}

.gallery.start .gallery-prev,
.gallery.end .gallery-next {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s, visibility 0.15s;
}

.gallery.start::before,
.gallery.end::after {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

.gallery-items {
	position: relative;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	overscroll-behavior-x: contain; 
	scroll-snap-type: x proximity;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-items::-webkit-scrollbar {
  display: none;
}

.gallery-item {
	scroll-snap-align: start;
	flex-shrink: 0;
}

.gallery-image .gallery-item:first-child {
	padding-left: .733rem;
}

.gallery-image .gallery-items {
	padding: .733rem;
	padding-left: 0;
	gap: 0.633rem;
}

.gallery-item > img {
	height: 22rem;
	width: auto;
}

.gallery-prev,
.gallery-next {
	position: absolute;
	top: calc(50% - .75rem);
	z-index: 2;
	width: 1.5rem;
	height: 1.5rem;
	opacity: 1;
	cursor: pointer;
	transition: visibility 0s, opacity 0.2s;
}

.gallery-prev {
	left: .733rem;
}

.gallery-next {
	right: .733rem;
}

/* Component - Video */

.video-container {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%; /* 9/16 */
		height: 0;
		overflow: hidden;
	}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}


/* Component - Cards */

.card-list {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: calc(var(--col)*4);
	padding: 1rem;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
  scrollbar-width: none;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card {
	flex-shrink: 0;
	width: 10.25em;
	min-height: 7em;
	padding: .733rem;
	border-radius: 2rem;
	border: calc(var(--border)/2) solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background: white;
}

.card > *:only-child {
  margin: auto 0;
}

.card-purple {
	background: var(--purple);
	border-color: var(--purple);
	color: white;
}

.card-container {
	position: relative;
}

.card-arrow {
	position: absolute;
	left: 20vw;
}

.card-arrow svg {
	width: 16vw;
}

.card-arrow.bottom {
	bottom: -6.5vw;
	transform: rotate(-18deg);
}

.card-arrow.top {
	top: -6.5vw;
	bottom: auto;
	transform: scale(1, -1) rotate(-7deg);
}

/* Component: Tags */

.tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.3125rem;
}

.tag {
	font-size: 0.5rem;
	background: var(--beige);
	color: var(--purple);
	border-radius: 2rem;
	font-weight: 500;
}

.tag:not(:has(label)) {
	padding: 0.2rem 0.4rem;
}

.tag input {
	display: none;
}

.tag:has(input) {
	user-select: none;
	cursor: pointer;
}

.tag:has(input):hover {
	background: var(--beige-dark);
} 

.tag label {
	padding: 0.2rem 0.4rem;
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}

.tag:has(input:checked),
.tag.active {
	background: var(--purple);
	color: white;
}

.tag:has(input:checked) label:after {
	content: "";
	display: block;
	width: 1.2em;
	height: 1.2em;
	background-image: url('~/assets/svg/close.svg');
	background-size: 100% 100%;
}

.tag:has(input:checked):hover {
	background: var(--purple-dark);
}


/* Component: Project Card */

.project-card-small {
	width: calc(((var(--col) - var(--border)/var(--cols))*4));
	border-left: var(--border) solid var(--grey);
}

.project-card-small:last-child {
	width: calc(((var(--col) - var(--border)/var(--cols))*4) + var(--border));
	border-right: var(--border) solid var(--grey);
}

.project-card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.6875rem;
}

.project-card-image {
	position: relative;
	background-color: var(--beige);
	padding-bottom: 58.33%;
	overflow: hidden;
}

.project-card-image img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: transform 0.3s;
}

a:hover .project-card-image img {
	transform: scale(102%, 102%);
}

.project-card-header {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	margin-bottom: 0.625rem;
}


/* Pages */

.page-header-title {
	padding: 1.33rem 0.733rem;
	text-align: center;
	background: white;
	border-bottom: var(--border) solid var(--grey);
}

.page-header-image {
	width: 100%;
	max-height: 20rem;
	object-fit: cover;
	border-bottom: var(--border) solid var(--grey)
}


/* Page: Projects */

.project-tags {
	border: none;
	padding: 1.15rem;
	max-width: 28rem;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 0.3125rem;
	justify-content: center;
}

.projects-header {
	background: white;
	border-bottom: var(--border) solid var(--grey);
}

.image-container {
	background: white;
	border-bottom: var(--border) solid var(--grey);
}

.section-gallery {
	background: white;
	/*border-bottom: var(--border) solid var(--grey);*/
}


/* Page: Project single */

.project-intro .tag-list {
	margin-bottom: 1rem;
}

.project-intro .h2 {
	margin-bottom: 0.533em;
}

.project-intro-header {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.project-meta {
	margin-bottom: 1rem;
}

.project-patterns {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.project-pattern {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.project-pattern svg {
	display: block;
	width: 100%;
	height: auto;
}

.project-pattern.purple {
	mix-blend-mode: multiply;
	z-index: 1;
}

.project-pattern.purple svg * {
	fill: var(--purple) !important;
	stroke: var(--purple) !important;
}

.section-podcast {
	background: white;
	border-bottom: var(--border) solid var(--grey);
}

.section-podcast-content {
	padding: 1.25rem .733rem;
}

.image-container img {
	object-fit: cover;
	max-height: 100vh;
}

.video-container {
	border-bottom: var(--border) solid var(--grey);
}

.section-footer * + * {
	margin-top: 0.25rem;
}

@media (max-width: 1024px) {
	:root {
		font-size: 28px;
		--cols: 9;
	}

	.cols {
		grid-template-columns: calc((var(--col) - var(--border)/var(--cols))*4) auto;		
	}
}

@media (max-width: 768px) {
	:root {
		font-size: 24px;
		--cols: 7;
	}

	.cols {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

	.col:not(:last-child) {
		border-bottom: var(--border) solid var(--grey);
	}

	.site-logo {
		top: 45%;
	}

	.card-list {
		height: calc(var(--col)*3);
	}

	.text-container,
	.image-container {
		padding: 0.733rem;
	}


	.h1 {
		font-size: 1.75rem;
	}

	.h2 {
		font-size: 1.2rem;
	}

	.h3 {
		font-size: 1.2rem;
	}

	.small {
		font-size: 0.75rem;
	}

	.site-footer-fixed {
		font-size: 0.75rem;
	}

	.btn.btn-small {
		font-size: 0.75rem;
	}

	.site-menu {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.15s, visibility 0s 0.15s;	
	}

	.site-menu.open {
		visibility: visible;
		pointer-events: inherit;
		opacity: 1;
		transition: opacity 0.15s;
		z-index: 10;
	}

	.site-menu {
		position: fixed;
		inset: 0;
		grid-template-columns: 1fr;
		grid-auto-rows: max-content;
		gap: calc(var(--border)*2);
		padding: calc(var(--border)*2);
		padding-top: calc(var(--col) + var(--border)*2);
		background: rgba(255, 255, 255, 0.65);
	}

	.site-menu .btn {
		font-size: 1.5rem;
		border-width: var(--border);
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.site-menu .btn.active {
		background-color: white;
		color: var(--purple);
	}

	.site-menu .btn.active:hover {
		background-color: var(--purple);
		color: white;
	}

	.site-mobile-menu-toggle {
		display: block;
		border-width: var(--border);
		z-index: 11;
	}

	.icon-menu {
		stroke-width: var(--border);
	}
}

@media (max-width: 600px) {
	:root {
		font-size: 22px;
		--cols: 5;
	}

	.site-logo {
		top: 56%;
	}
}

@media (max-width: 480px) {
	:root {
		font-size: 20px;
	}
}
