* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, address {
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	margin: 0;
}

blockquote {
	margin: 0;
}

ul, ol, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

img, svg {
	display: block;
	width: 100%;
	height: auto;
}

button {
	appearance: none;
	font-family: inherit;
	font-weight: inherit;
	border: none;
	background: none;
	padding: 0;
}